<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484503989430-o1vastjg1m7mugichg7geljab07c0rkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484503989430-o1vastjg1m7mugichg7geljab07c0rkj</string>
	<key>API_KEY</key>
	<string>AIzaSyAStxgke1GclAK1gvEAKm3t0EfewLxRm2k</string>
	<key>GCM_SENDER_ID</key>
	<string>484503989430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devanasoft.ismart</string>
	<key>PROJECT_ID</key>
	<string>ismart-7d185</string>
	<key>STORAGE_BUCKET</key>
	<string>ismart-7d185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484503989430:ios:3391301a51e2f6644aca17</string>
</dict>
</plist>