<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aadhunik Jana iSmart.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AsaMulti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Bhaktapur.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Darshan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>DigoBikash.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>Ekta.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>Join.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>Lapha.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>Mahalaxmi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>Manakamana.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>126</integer>
		</dict>
		<key>NarayaniMulti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
		<key>Nepal Coop iSmart.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>144</integer>
		</dict>
		<key>Nhugupala.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>148</integer>
		</dict>
		<key>Nirika iSmart.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>152</integer>
		</dict>
		<key>Paryatan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>161</integer>
		</dict>
		<key>Peoples.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>166</integer>
		</dict>
		<key>Rorang.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>180</integer>
		</dict>
		<key>Runner 1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>183</integer>
		</dict>
		<key>Runner 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>184</integer>
		</dict>
		<key>Runner 3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>185</integer>
		</dict>
		<key>Runner 4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>186</integer>
		</dict>
		<key>Runner.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>182</integer>
		</dict>
		<key>Samaj Kalyan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>193</integer>
		</dict>
		<key>SamriddhaNepal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>195</integer>
		</dict>
		<key>Sandus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>199</integer>
		</dict>
		<key>Sarbahit Dang.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>203</integer>
		</dict>
		<key>Sarbajyoti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>204</integer>
		</dict>
		<key>Shree Jamune.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>215</integer>
		</dict>
		<key>ShubhashreeMulti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>227</integer>
		</dict>
		<key>Shwet Bhairab.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>230</integer>
		</dict>
		<key>Siddhartha.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>231</integer>
		</dict>
		<key>Swarnim.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>240</integer>
		</dict>
		<key>Tathali.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>242</integer>
		</dict>
		<key>Upayogi Saving iSmart.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>253</integer>
		</dict>
		<key>Wonderful.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>262</integer>
		</dict>
		<key>aabhash.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>aakashbani 1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>aakashbani.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>aarati.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>aastha.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>abhibadan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ajambari.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>alankar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>annapurna.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>arthabag.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>arthikBikash.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>arunjyoti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ashish.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>avatar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>aviyan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>aviyanMulti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>babira.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>babylon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>baglungmulti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>batika.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>belchautara.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>bhanjyang.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>bhargo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>bhugol.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>bihani.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>bishal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>bishalMulti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>bishnudol.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>buddha.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>chetna.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>davisfall.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>devanasoft.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>devshree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>dhaulagiri.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>digitalCoop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>dupcheshwor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>eastWest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>ekata.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>ektaMulti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>exotic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>fewa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>fewaCoop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>gaja.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>globalMulti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>golden.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>gomaGanesh.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>hamisabaikokrishi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>hamroSaving.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>hetauda.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>immanuel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>indrawati.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>indrawoti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>janadhara.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>janakalyanbahumukhi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>janamukhi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>janasewa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>jayShreeMataNavadurga.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>jayamahalaxmi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>jmc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>kabil.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>kaldhara.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>kamana.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>kamanaNew.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>kamdhenu.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>kanchanjungha.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>kendradip.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>khotangJaleshwori.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>kipoo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>kjismart.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>kripalu.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>kshstrashakti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>kunchhal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>lifeVision.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>machhapuchhre.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>manank.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>127</integer>
		</dict>
		<key>mangalpur.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>128</integer>
		</dict>
		<key>matribhumi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>metrang.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>myagde.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>myagdeDugdha.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>narayani.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>137</integer>
		</dict>
		<key>nawajosh.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>139</integer>
		</dict>
		<key>nawaprabhat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>140</integer>
		</dict>
		<key>nawatara.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>141</integer>
		</dict>
		<key>nayan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>142</integer>
		</dict>
		<key>neela.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>143</integer>
		</dict>
		<key>nepalCoop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>146</integer>
		</dict>
		<key>nepalbachat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>145</integer>
		</dict>
		<key>newPathibhara.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>147</integer>
		</dict>
		<key>nilgiri.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>149</integer>
		</dict>
		<key>nilpashan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>150</integer>
		</dict>
		<key>nirika.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>151</integer>
		</dict>
		<key>noor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>153</integer>
		</dict>
		<key>omshreeom.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>154</integer>
		</dict>
		<key>pacific.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>263</integer>
		</dict>
		<key>parishrami.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>160</integer>
		</dict>
		<key>paschimanchal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>162</integer>
		</dict>
		<key>patan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>163</integer>
		</dict>
		<key>primeMulti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>170</integer>
		</dict>
		<key>punja.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>173</integer>
		</dict>
		<key>puspanjali.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>174</integer>
		</dict>
		<key>queen.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>175</integer>
		</dict>
		<key>race.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>176</integer>
		</dict>
		<key>rithepani.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>179</integer>
		</dict>
		<key>rumjatar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>181</integer>
		</dict>
		<key>sadasyaSewa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>187</integer>
		</dict>
		<key>sagarmatha.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>188</integer>
		</dict>
		<key>sahakarya.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>189</integer>
		</dict>
		<key>sahayatri.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>190</integer>
		</dict>
		<key>sahayatriPokhara.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>191</integer>
		</dict>
		<key>sahayogi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>192</integer>
		</dict>
		<key>sampadaCoop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>194</integer>
		</dict>
		<key>samriddhaNepalCoop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>196</integer>
		</dict>
		<key>sanakishan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>197</integer>
		</dict>
		<key>sanchar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>198</integer>
		</dict>
		<key>sanjeewani 1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>201</integer>
		</dict>
		<key>sanjeewani.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>200</integer>
		</dict>
		<key>sarbahit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>202</integer>
		</dict>
		<key>sarbashakti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>205</integer>
		</dict>
		<key>sardikhola.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>206</integer>
		</dict>
		<key>satyeta.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>207</integer>
		</dict>
		<key>seto gurans.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>208</integer>
		</dict>
		<key>setogurans.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>209</integer>
		</dict>
		<key>shikhar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>214</integer>
		</dict>
		<key>shree Krishna.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>217</integer>
		</dict>
		<key>shree janakalyan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>216</integer>
		</dict>
		<key>shreeEkata.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>219</integer>
		</dict>
		<key>shreeHemja.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>220</integer>
		</dict>
		<key>shreeKalika.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>222</integer>
		</dict>
		<key>shreeMiteree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>223</integer>
		</dict>
		<key>shreeMitra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>224</integer>
		</dict>
		<key>shreeSiddiGanesh.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>225</integer>
		</dict>
		<key>shreeaaju.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>218</integer>
		</dict>
		<key>shreejanakalyan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>221</integer>
		</dict>
		<key>shubhaSandesh.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>226</integer>
		</dict>
		<key>shubhaShreeSaving.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>228</integer>
		</dict>
		<key>shubhdipawali.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>229</integer>
		</dict>
		<key>sparkling.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>232</integer>
		</dict>
		<key>subhodaya.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>235</integer>
		</dict>
		<key>sudarshan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>236</integer>
		</dict>
		<key>sunischit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>237</integer>
		</dict>
		<key>sunshine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>238</integer>
		</dict>
		<key>supreme.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>239</integer>
		</dict>
		<key>tarakariPhalafool.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>241</integer>
		</dict>
		<key>tgway.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>243</integer>
		</dict>
		<key>thankotmahila.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>244</integer>
		</dict>
		<key>uddhamsil.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>247</integer>
		</dict>
		<key>ujyalo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>248</integer>
		</dict>
		<key>unitedMulti.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>249</integer>
		</dict>
		<key>upakar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>250</integer>
		</dict>
		<key>upasanawomen.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>251</integer>
		</dict>
		<key>upayogi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>252</integer>
		</dict>
		<key>utkrishta.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>256</integer>
		</dict>
		<key>uttarbahini.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>257</integer>
		</dict>
		<key>uttarganga.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>258</integer>
		</dict>
		<key>uttargangaNew.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>259</integer>
		</dict>
		<key>vaidhik.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>260</integer>
		</dict>
		<key>vyas.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>261</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97C146ED1CF9000F007C117D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
